<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c93ef61-e073-404c-af55-bb941add96df" Alias="Big" Level="2">
  <Info>
    <Parent Key="b92bfca4-09d8-4633-bdbb-062a8cb54874">projects</Parent>
    <Path>/projects/Big</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-03T11:06:20</CreateDate>
    <NodeName Default="Big" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>