<?xml version="1.0" encoding="utf-8"?>
<Media Key="11d386f9-dc8a-48ce-a8fe-c5679975a802" Alias="Brand" Level="2">
  <Info>
    <Parent Key="195c68b9-0bca-4036-bcd6-fd98b3fcb91e">Logo</Parent>
    <Path>/Logo/Brand</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:02:21</CreateDate>
    <NodeName Default="Brand" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ozgjlj5d/brand.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>