<?xml version="1.0" encoding="utf-8"?>
<Media Key="66510986-ebf0-46a2-b6a4-b2f0da30fc96" Alias="brandon" Level="2">
  <Info>
    <Parent Key="a81bb8a8-2c93-4787-9093-8009e7e295b2">profile</Parent>
    <Path>/profile/brandon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:03:29</CreateDate>
    <NodeName Default="brandon" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bhbbpuez/brandon.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>