<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5f976e0-33ad-4d89-9c6b-f6a39d337131" Alias="Dot map dark" Level="2">
  <Info>
    <Parent Key="26856d26-a901-4c70-ac4e-3ad6ed60d04d">Backgrounds</Parent>
    <Path>/Backgrounds/DotMapDark</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T10:56:10</CreateDate>
    <NodeName Default="Dot map dark" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.494,
    "top": 0.5080291055074646
  },
  "crops": [],
  "src": "/media/n44l4u4e/dot-map.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>