<?xml version="1.0" encoding="utf-8"?>
<Media Key="eeb0b012-076e-40bd-bb79-f807be822624" Alias="FossilGroup" Level="2">
  <Info>
    <Parent Key="e6a1f26d-4902-42f1-b6c3-5457c40cea32">Parterns</Parent>
    <Path>/Parterns/FossilGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T09:31:02</CreateDate>
    <NodeName Default="FossilGroup" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2agbeddv/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>