<?xml version="1.0" encoding="utf-8"?>
<Media Key="70e56aaa-bf6c-4446-842d-a09f9c255c73" Alias="FreedomBird" Level="2">
  <Info>
    <Parent Key="e6a1f26d-4902-42f1-b6c3-5457c40cea32">Parterns</Parent>
    <Path>/Parterns/FreedomBird</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T09:29:53</CreateDate>
    <NodeName Default="FreedomBird" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ldlfpetx/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>