<?xml version="1.0" encoding="utf-8"?>
<Media Key="aadacad3-e127-4d14-b43e-913e584e6f69" Alias="image-24-min 2" Level="2">
  <Info>
    <Parent Key="26856d26-a901-4c70-ac4e-3ad6ed60d04d">Backgrounds</Parent>
    <Path>/Backgrounds/image24Min2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T10:58:31</CreateDate>
    <NodeName Default="image-24-min 2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lqajyhco/image-24-min-2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>