<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b1da03e-f543-41bd-a711-cdcdfa9831b1" Alias="image-24-min 1" Level="2">
  <Info>
    <Parent Key="94b129ed-604a-40e9-b061-a2f158de07a5">service-img</Parent>
    <Path>/serviceImg/image24Min1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:09:30</CreateDate>
    <NodeName Default="image-24-min 1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wfvfxpjk/image-24-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>