<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ed24f07-4dbe-478d-9d31-637915ebcdeb" Alias="image-13-min 1" Level="2">
  <Info>
    <Parent Key="94b129ed-604a-40e9-b061-a2f158de07a5">service-img</Parent>
    <Path>/serviceImg/image13Min1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:08:33</CreateDate>
    <NodeName Default="image-13-min 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rccjj0gx/image-13-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>