<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd26d055-bc3a-4d6f-9b19-12cda81392b5" Alias="image-22-min 1" Level="2">
  <Info>
    <Parent Key="94b129ed-604a-40e9-b061-a2f158de07a5">service-img</Parent>
    <Path>/serviceImg/image22Min1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:09:05</CreateDate>
    <NodeName Default="image-22-min 1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1inga40t/image-22-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>