<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb02ddcd-2233-4b44-84c5-b7ead71fb5c9" Alias="image-21-min 1" Level="2">
  <Info>
    <Parent Key="94b129ed-604a-40e9-b061-a2f158de07a5">service-img</Parent>
    <Path>/serviceImg/image21Min1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:08:54</CreateDate>
    <NodeName Default="image-21-min 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/iilfi5k0/image-21-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>