<?xml version="1.0" encoding="utf-8"?>
<Media Key="53aa0c72-bc5e-44ab-93d1-7b49970d4c7b" Alias="kevin-gardner" Level="2">
  <Info>
    <Parent Key="a81bb8a8-2c93-4787-9093-8009e7e295b2">profile</Parent>
    <Path>/profile/kevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:04:09</CreateDate>
    <NodeName Default="kevin-gardner" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5xdozzjx/kevin-gardner.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>