<?xml version="1.0" encoding="utf-8"?>
<Media Key="195c68b9-0bca-4036-bcd6-fd98b3fcb91e" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-03T11:02:11</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>