<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca50b252-06d0-4ed1-99a9-ead02d4745d2" Alias="OnlineSignatures.net-302 1" Level="2">
  <Info>
    <Parent Key="baac4dd6-1c12-47f0-b0dd-61a3a9ed67ff">misc</Parent>
    <Path>/misc/OnlineSignaturesnet3021</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:09:54</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1v2bm5fz/onlinesignaturesnet-302-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>