<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6a1f26d-4902-42f1-b6c3-5457c40cea32" Alias="Parterns" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Parterns</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T09:28:49</CreateDate>
    <NodeName Default="Parterns" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>