<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8d9c986-9f97-46b6-9e7f-faa05946b23d" Alias="pj2" Level="3">
  <Info>
    <Parent Key="e01a1a08-2dff-4d96-860b-ef6e8d9a07e3">Small</Parent>
    <Path>/projects/Small/pj2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:07:51</CreateDate>
    <NodeName Default="pj2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bebj4xx4/pj2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>