<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e7c0809-ccaa-42f0-935a-f382fc7952e2" Alias="pj4 1" Level="2">
  <Info>
    <Parent Key="d7f90405-0d34-46ea-9443-50d10ed5d0ff">project-details</Parent>
    <Path>/projectDetails/pj41</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:06:04</CreateDate>
    <NodeName Default="pj4 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/q1bdvwgd/pj4-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>