<?xml version="1.0" encoding="utf-8"?>
<Media Key="626860fe-c82e-480a-a78a-f1621bfad881" Alias="pj4" Level="3">
  <Info>
    <Parent Key="e01a1a08-2dff-4d96-860b-ef6e8d9a07e3">Small</Parent>
    <Path>/projects/Small/pj4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:08:16</CreateDate>
    <NodeName Default="pj4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ogvc3vch/pj4.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>