<?xml version="1.0" encoding="utf-8"?>
<Media Key="b92bfca4-09d8-4633-bdbb-062a8cb54874" Alias="projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-03T11:00:47</CreateDate>
    <NodeName Default="projects" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>