<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7f90405-0d34-46ea-9443-50d10ed5d0ff" Alias="project-details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-03T11:00:35</CreateDate>
    <NodeName Default="project-details" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>