<?xml version="1.0" encoding="utf-8"?>
<Media Key="577a3252-71f5-4ac4-a004-4c73b02b1faa" Alias="Rating" Level="2">
  <Info>
    <Parent Key="baac4dd6-1c12-47f0-b0dd-61a3a9ed67ff">misc</Parent>
    <Path>/misc/Rating</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:10:22</CreateDate>
    <NodeName Default="Rating" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1x2dzym2/rating.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>