<?xml version="1.0" encoding="utf-8"?>
<Media Key="94b129ed-604a-40e9-b061-a2f158de07a5" Alias="service-img" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceImg</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-03T11:01:06</CreateDate>
    <NodeName Default="service-img" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>