<?xml version="1.0" encoding="utf-8"?>
<Media Key="e01a1a08-2dff-4d96-860b-ef6e8d9a07e3" Alias="Small" Level="2">
  <Info>
    <Parent Key="b92bfca4-09d8-4633-bdbb-062a8cb54874">projects</Parent>
    <Path>/projects/Small</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-03T11:06:29</CreateDate>
    <NodeName Default="Small" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>