<?xml version="1.0" encoding="utf-8"?>
<Media Key="00687c42-d214-4e7d-bda3-de45cfdb14c4" Alias="TIna" Level="2">
  <Info>
    <Parent Key="a81bb8a8-2c93-4787-9093-8009e7e295b2">profile</Parent>
    <Path>/profile/TIna</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:04:42</CreateDate>
    <NodeName Default="TIna" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zw1c3nt3/tina.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>