footer {
    background-color: black;
    .container {
        padding: 25px 0px;
        display :flex;
        gap: 7px;
        p {

            font-size: 14px;
        }
    
        .label {
    
            font-size: 14px;
        }

    }
}