@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.background-image {
  width: 100%;
  top: 0%;
  z-index: -1;
}

.text-on-top-image {
  position: absolute;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
}

section {
  position: relative;
  width: 100%;
}

.center-image {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-right {
  position: absolute;
  right: 0;
}

.image-left {
  position: absolute;
  left: 0;
}

.spacing-top {
  padding-top: 120px;
}

.spacing-bottom {
  padding-bottom: 95px;
}

.extra-spacing-bottom {
  padding-bottom: 350px;
}

.extra-spacing-top {
  padding-top: 350px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.flex-column {
  display: flex;
  gap: 20px;
}

.flex-row {
  display: flex;
  gap: 20px;
}

.image-html {
  max-width: 100%;
  height: auto;
}

.umb-block-grid__layout-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, min-content);
  column-gap: var(--umb-block-grid--column-gap, 0);
  row-gap: var(--umb-block-grid--row-gap, 0);
}

.umb-block-grid__layout-item {
  position: relative;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--item-column-span, 1) * 3, var(--umb-block-grid--grid-columns));
  grid-row: span var(--umb-block-grid--item-row-span, 1);
}

.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, min-content);
  column-gap: var(--umb-block-grid--areas-column-gap, 0);
  row-gap: var(--umb-block-grid--areas-row-gap, 0);
}

.umb-block-grid__area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--area-column-span, 1) * 3, var(--umb-block-grid--area-grid-columns));
  grid-row: span var(--umb-block-grid--area-row-span, 1);
}

@media (min-width: 1024px) {
  .umb-block-grid__layout-item {
    grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
  }
  .umb-block-grid__area {
    grid-column-end: span min(var(--umb-block-grid--area-column-span, 1), var(--umb-block-grid--area-grid-columns));
  }
}
.profile {
  border: 1px solid rgba(116, 114, 114, 0.123);
  margin: 10px;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile .text {
  padding: 10px;
}

.service {
  background-color: white;
  margin: 10px;
}
.service:hover {
  cursor: pointer;
  background-color: #F2EDDC;
  transition: ease-in 0.35s background-color;
}
.service h5 {
  padding: 20px 30px;
}
.service img {
  width: 100%;
}
.service p {
  padding: 20px 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}
.pagination .pages {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.pagination .pages .number {
  padding: 5px 15px;
  border-radius: 10px;
}
.pagination .pages .active {
  background-color: #D9C3A9;
}

.smallSize {
  max-width: 470px;
  max-height: 572px;
  margin-left: 100px;
  position: absolute;
  right: 17%;
  z-index: 2;
}
@media (max-width: 1400px) {
  .smallSize {
    right: 10%;
  }
}
@media (max-width: 1200px) {
  .smallSize {
    position: relative;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }
}
@media (max-width: 996px) {
  .smallSize {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }
}
.smallSize .heading {
  background-color: #4F5955;
  padding: 30px 30px;
}
.smallSize .heading h3 {
  color: #D9C3A9;
}
.smallSize .form-box {
  border: 1px solid grey;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.smallSize .form-box select {
  display: block;
}

.bigSize {
  background-color: white;
  padding: 100px 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  bottom: 7%;
}
@media (max-width: 992px) {
  .bigSize {
    padding: 40px 10px;
    position: relative;
    margin-right: 10px;
  }
}
.bigSize .text {
  text-align: center;
  padding: 0px 100px;
}
@media (max-width: 992px) {
  .bigSize .text {
    padding: 0;
  }
}
.bigSize .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0px 100px;
}
@media (max-width: 992px) {
  .bigSize .inputs {
    padding: 0;
    grid-template-columns: 1fr;
  }
}
.bigSize button {
  align-self: center;
}

.form-invalid-input {
  border: 1px solid red;
}

.alert-success {
  align-self: center;
}

@media (max-width: 996px) {
  .hide-image-mobile {
    display: none;
  }
}

.text-color-main {
  color: #4F5955;
}

.text-color-sub-color-1 {
  color: #F2EDDC;
}

.text-color-sub-color-3 {
  color: #D9C3A9;
}

.text-color-grey {
  color: #999999;
}

.text-color-dark {
  color: #171717;
}

.text-color-light-grey {
  color: #F7F7F7;
}

.text-color-light {
  color: #FFFFFF;
}

.bg-main {
  background-color: #4F5955;
  z-index: -3;
}

.bg-sub-color-1 {
  background-color: #F2EDDC;
}

.bg-sub-color-3 {
  background-color: #D9C3A9;
}

.bg-grey {
  background-color: #999999;
}

.bg-dark {
  background-color: #171717;
}

.bg-light-grey {
  background-color: #F7F7F7;
}

.bg-none {
  background-color: transparent;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #535656;
  margin: 0;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  color: #4F5955;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: #4F5955;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  color: #4F5955;
}

h4 {
  font-size: 25px;
  font-weight: 700;
  color: #4F5955;
}

h5 {
  font-size: 22px;
  font-weight: 700;
  color: #4F5955;
}

h6 {
  font-size: 18px;
  font-weight: 700;
  color: #4F5955;
}

.note1 {
  font-size: 13px;
  font-weight: 400;
  color: #4F5955;
}

.note2 {
  font-size: 13px;
  font-weight: 600;
}

.label {
  font-size: 14px;
  font-weight: 700;
  color: #4F5955;
  color: #D9C3A9;
}

.quote {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  color: #4F5955;
}

a {
  font-size: 16px;
  font-weight: 700;
  color: #4F5955;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #D9C3A9;
}

.ext-link {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 15px;
}
@media (max-width: 576px) {
  .ext-link {
    padding: 15px 30px;
  }
}
.ext-link i {
  color: white;
}
.ext-link:hover {
  background-color: #D9C3A9;
  transition: ease-in-out 0.5s background-color;
}

.active {
  color: #D9C3A9;
}

.btn-dark {
  background-color: #4F5955;
  color: #F2EDDC;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 50px;
}
.btn-dark:hover {
  background-color: #9C9EA6;
  transition: ease-in-out 0.3s background-color;
}

.btn-light {
  background-color: #F2EDDC;
  color: #4F5955;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 35px;
}
.btn-light:hover {
  background-color: #D9C3A9;
  transition: ease-in-out 0.3s background-color;
}

header .background {
  background-color: #4F5955;
}
header .background .container .address-socials {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  header .background .container .address-socials {
    justify-content: center;
  }
}
header .background .container .address-socials .address {
  color: white;
  padding: 15px;
}
@media (max-width: 576px) {
  header .background .container .address-socials .address {
    display: none;
  }
}
header .background .container .address-socials .socials {
  display: flex;
}
@media (max-width: 576px) {
  header .background .container .address-socials .socials {
    display: none;
  }
}
header .navbar .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  header .navbar .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
header .navbar .container navbar {
  display: flex;
  gap: 60px;
}
@media (max-width: 576px) {
  header .navbar .container navbar {
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  header .navbar .container navbar {
    margin-top: 20px;
  }
}
header .navbar .container .search-bar {
  position: relative;
}
@media (max-width: 992px) {
  header .navbar .container .search-bar {
    display: none;
  }
}
header .navbar .container .search-bar i {
  position: absolute;
  right: 6px;
  bottom: 18px;
}

.hero-and-about-us {
  position: relative;
}
.hero-and-about-us .hero-section {
  position: relative;
}
.hero-and-about-us .hero-section .hero-image {
  position: absolute;
  z-index: -1;
  width: 100%;
}
@media (max-width: 1200px) {
  .hero-and-about-us .hero-section {
    background-image: none;
    background-color: rgb(230, 229, 229);
    height: 35%;
  }
}
.hero-and-about-us .hero-section .container .text {
  max-width: 570px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 576px) {
  .hero-and-about-us .hero-section .container .text {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
  }
}
.hero-and-about-us .hero-section .container .text .btn {
  align-self: flex-start;
}
@media (max-width: 576px) {
  .hero-and-about-us .hero-section .container .text .btn {
    align-self: center;
  }
}
.hero-and-about-us .about-us {
  padding-top: 120px;
  padding-bottom: 100px;
}
@media (max-width: 1200px) {
  .hero-and-about-us .about-us {
    padding-top: 30px;
  }
}
.hero-and-about-us .about-us .container {
  display: flex;
}
@media (max-width: 1200px) {
  .hero-and-about-us .about-us .container {
    flex-direction: column;
    align-items: center;
  }
}
.hero-and-about-us .about-us .container .text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-width: 672px;
}
@media (max-width: 1200px) {
  .hero-and-about-us .about-us .container .text {
    text-align: center;
    padding: 40px 0px;
  }
}
@media (max-width: 1600px) {
  .hero-and-about-us .about-us .container .text {
    max-width: 400px;
  }
}
.hero-and-about-us .about-us .container .form {
  max-width: 470px;
  max-height: 572px;
  position: absolute;
  right: 20%;
  top: 45%;
}
@media (max-width: 1200px) {
  .hero-and-about-us .about-us .container .form {
    position: relative;
    right: 0%;
  }
}
.hero-and-about-us .about-us .container .form .heading {
  background-color: #4F5955;
  padding: 30px 30px;
}
.hero-and-about-us .about-us .container .form .heading h3 {
  color: #D9C3A9;
}
.hero-and-about-us .about-us .container .form form {
  border: 1px solid grey;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero-and-about-us .about-us .container .form form select {
  display: block;
}

input {
  padding: 15px 20px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.39);
}

textarea {
  padding: 15px 20px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.39);
}

select {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid grey;
}

.our-services {
  background-color: #F7F7F7;
  padding-top: 50px;
  padding-bottom: 100px;
}
.our-services .container .section-title {
  text-align: center;
  padding-bottom: 40px;
}
.our-services .container .services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media (max-width: 1200px) {
  .our-services .container .services {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .our-services .container .services {
    grid-template-columns: 1fr;
  }
}
.our-services .container .services .service {
  background-color: white;
}
.our-services .container .services .service:hover {
  cursor: pointer;
  background-color: #F2EDDC;
  transition: ease-in 0.35s background-color;
}
.our-services .container .services .service h5 {
  padding: 20px 30px;
}
.our-services .container .services .service img {
  width: 100%;
}
.our-services .container .services .service p {
  padding: 20px 30px;
}

.why-choose-us {
  padding-top: 150px;
  position: relative;
}
@media (max-width: 992px) {
  .why-choose-us {
    padding-bottom: 50px;
  }
}
.why-choose-us .team {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 70%;
  padding-top: 50px;
}
@media (max-width: 992px) {
  .why-choose-us .team {
    display: none;
  }
}
.why-choose-us .dotmap-1 {
  position: absolute;
  z-index: -1;
  width: 70%;
  top: 0;
  left: 15%;
  top: 18%;
}
@media (max-width: 992px) {
  .why-choose-us {
    padding-top: 50px;
    max-height: 450px;
  }
}
.why-choose-us .container {
  text-align: center;
}
.why-choose-us .container p {
  padding: 40px 0px;
}
.our-projects-home {
  margin-top: 350px;
}
@media (max-width: 992px) {
  .our-projects-home {
    margin-top: 300px;
  }
}
.our-projects-home .container {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.our-projects-home .projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1200px) {
  .our-projects-home .projects {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .our-projects-home .projects {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.our-projects-home .projects .project-home {
  position: relative;
  width: 100%;
}
.our-projects-home .projects .project-home:hover {
  cursor: pointer;
}
.our-projects-home .projects .project-home:hover .text {
  background-color: #4F5955;
  padding: 30px;
  transition: background-color 0.3s ease;
}
.our-projects-home .projects .project-home:hover .text p {
  color: #F2EDDC;
  transition: color 0.3s ease;
}
.our-projects-home .projects .project-home img {
  z-index: -1;
  width: 100%;
}
.our-projects-home .projects .project-home .text {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
  background-color: rgba(70, 62, 62, 0.363);
}
.our-projects-home .projects .project-home .text p {
  font-size: 18px;
  font-weight: 500%;
  color: white;
}
.our-projects-home .projects .project-home .text span {
  font-size: 14px;
  color: white;
  font-weight: 300;
}

.image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  gap: 60px;
}
.image-slider .image-slide img {
  width: 100%;
}

footer {
  background-color: black;
}
footer .container {
  padding: 25px 0px;
  display: flex;
  gap: 7px;
}
footer .container p {
  font-size: 14px;
}
footer .container .label {
  font-size: 14px;
}

.sub-title {
  position: relative;
  background-color: rgba(128, 128, 128, 0.082);
  padding-bottom: 50px;
}
.sub-title .subtitle-img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.sub-title .text {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sub-title .text .links {
  padding-top: 20px;
  display: flex;
  gap: 10px;
}
.sub-title .text .links a {
  font-weight: 400;
  font-size: 14px;
}
.sub-title .text .links i {
  font-size: 13px;
  margin-top: 4px;
}

.ceo {
  padding: 150px 0px;
}
@media (max-width: 992px) {
  .ceo {
    padding: 80px 0px;
  }
}
.ceo .container {
  display: flex;
  gap: 60px;
}
@media (max-width: 992px) {
  .ceo .container {
    flex-direction: column;
  }
}
.ceo .container .image-and-name {
  width: 100%;
}
.ceo .container .image-and-name img {
  max-width: 400px;
  width: 100%;
}
.ceo .container .image-and-name p {
  font-size: 16px;
  font-style: italic;
  padding-top: 10px;
}
.ceo .container .text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.reviews {
  background-color: #F7F7F7;
  display: flex;
}
@media (max-width: 992px) {
  .reviews {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.reviews .kevin {
  max-width: 900px;
  width: 100%;
}
@media (max-width: 1400px) {
  .reviews .kevin {
    width: 60%;
  }
}
.reviews .container {
  max-width: 550px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.reviews .container img {
  width: 25%;
}

.advisors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media (max-width: 1200px) {
  .advisors {
    grid-template-columns: 1fr 1fr;
  }
}
.advisors .profile {
  border: 1px solid rgba(116, 114, 114, 0.123);
}
.advisors .profile .text {
  padding: 10px;
}
.advisors .profile img {
  height: auto;
}

.next-project {
  background-color: #F7F7F7;
}
@media (max-width: 1200px) {
  .next-project {
    padding: 40px 0px;
  }
}
.next-project .container {
  display: flex;
  gap: 250px;
}
.next-project .container .background-image {
  z-index: 0;
  position: relative;
}
@media (max-width: 1200px) {
  .next-project .container .background-image {
    display: none;
  }
}
.next-project .container .background-image .dots-rectangle {
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.next-project .container .background-image .profile {
  position: relative;
  z-index: 2;
}
.next-project .container .text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}
@media (max-width: 1200px) {
  .next-project .container .text {
    text-align: center;
  }
}
.next-project .container .text .info-box .textinfo {
  display: flex;
}
@media (max-width: 1200px) {
  .next-project .container .text .info-box .textinfo {
    justify-content: center;
  }
}
.next-project .container .text .info-box .textinfo i {
  padding-right: 5px;
  color: grey;
}
.next-project .container .text .info-box p {
  padding-left: 20px;
}

.risk-management {
  padding: 70px 0px;
}
.risk-management .container .box1 {
  display: flex;
}
@media (max-width: 992px) {
  .risk-management .container .box1 {
    display: block;
  }
}
.risk-management .container .box1 .about-us {
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-right: 1px solid rgba(128, 128, 128, 0.534);
}
@media (max-width: 992px) {
  .risk-management .container .box1 .about-us {
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-bottom: 30px;
  }
}
.risk-management .container .box1 .about-us .text {
  display: grid;
  gap: 20px;
}
.risk-management .container .box1 .about-us .text img {
  width: 100%;
}
.risk-management .container .box1 .info {
  padding-left: 50px;
  display: grid;
  gap: 40px;
}
@media (max-width: 992px) {
  .risk-management .container .box1 .info {
    border: none;
    padding: 0;
  }
}
.risk-management .container .box1 .info .text-box {
  display: grid;
  gap: 20px;
}
.risk-management .container .box1 .info .text-box img {
  width: 100%;
}
.risk-management .container .box1 .info .text-box ul {
  display: grid;
  gap: 10px;
}
.risk-management .container .box1 .info .text-box ul li {
  color: grey;
}
.risk-management .container .question-form .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.risk-management .container .question-form .form .name {
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  .risk-management .container .question-form .form .name {
    flex-direction: column;
    gap: 10px;
  }
}
.risk-management .container .question-form .form .name input {
  width: 100%;
}
.risk-management .container .question-form .form button {
  align-self: flex-start;
}

.our-projects {
  padding-top: 70px;
  padding-bottom: 150px;
}
.our-projects .container {
  display: flex;
}
@media (max-width: 992px) {
  .our-projects .container {
    display: block;
  }
}
.our-projects .container .projects {
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 992px) {
  .our-projects .container .projects {
    border-right: none;
    padding: 0;
  }
}
.our-projects .container .projects .projectSmall {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.534);
  padding-bottom: 30px;
}
@media (max-width: 992px) {
  .our-projects .container .projects .projectSmall {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .our-projects .container .projects .projectSmall {
    flex-direction: column;
  }
}
.our-projects .container .projects .projectSmall .project-img {
  width: 100%;
  height: 100%;
}
.our-projects .container .projects .projectSmall .text {
  display: flex;
  flex-direction: column;
}
.our-projects .container .projects .projectSmall .text .date i {
  margin-right: 7px;
}
.our-projects .container .projects .projectSmall .text a {
  margin-top: auto;
}
.our-projects .container .projects .projectSmall .text a i {
  margin-left: 7px;
  color: rgba(128, 128, 128, 0.356);
}
.our-projects .container .projects .projectSmall .text .info {
  padding: 15px 0px;
}
.our-projects .container .tags-support {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  border-left: 1px solid rgba(128, 128, 128, 0.534);
}
@media (max-width: 992px) {
  .our-projects .container .tags-support {
    padding: 0;
    text-align: center;
    padding-top: 40px;
  }
}

.how-can-we-help {
  background-color: #4F5955;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.how-can-we-help h5 {
  color: #F2EDDC;
}
.how-can-we-help p {
  color: #F2EDDC;
}
.how-can-we-help .input {
  position: relative;
}
.how-can-we-help .input input {
  padding-right: 70px;
}
.how-can-we-help .input i {
  position: absolute;
  right: 10%;
  top: 30%;
  color: grey;
}
@media (max-width: 992px) {
  .how-can-we-help .input i {
    right: 20%;
  }
}

.tags {
  padding-bottom: 30px;
}
.tags .tag-box {
  padding-top: 15px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.tags .tag-box .tag {
  border: 1px solid grey;
  padding: 7px 0px;
  text-align: center;
  border-radius: 20px;
}
.tags .tag-box .tag:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.144);
  transition: ease 0.3s background-color;
}

.project-details {
  padding-top: 70px;
  padding-bottom: 150px;
}
.project-details .container {
  display: flex;
}
@media (max-width: 992px) {
  .project-details .container {
    flex-direction: column;
  }
}
.project-details .container .project-detail {
  padding-right: 70px;
  border-right: 1px solid rgba(128, 128, 128, 0.534);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 992px) {
  .project-details .container .project-detail {
    border: none;
    padding: 0;
  }
}
.project-details .container .project-detail .box-with-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-details .container .project-detail .box-with-text .note1 i {
  margin-right: 6px;
}
.project-details .container .project-detail .box-with-text .mini-titel {
  font-weight: 600;
}
.project-details .container .project-detail .box-with-text img {
  width: 100%;
}
.project-details .container .project-detail .suggestions-list ul li {
  list-style: circle;
}
.project-details .container .project-detail .box-with-image {
  display: flex;
  gap: 40px;
}
@media (max-width: 992px) {
  .project-details .container .project-detail .box-with-image {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .project-details .container .project-detail .box-with-image .image-box img {
    width: 95%;
  }
}
.project-details .container .project-detail .box-with-image .text-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.project-details .container .project-detail .tags {
  display: flex;
  gap: 7px;
}
@media (max-width: 576px) {
  .project-details .container .project-detail .tags {
    justify-content: center;
    align-items: center;
  }
}
.project-details .container .project-detail .tags h6 {
  margin: 0;
  padding: 10px;
}
@media (max-width: 576px) {
  .project-details .container .project-detail .tags h6 {
    display: none;
  }
}
.project-details .container .project-detail .tags .tag-box {
  padding: 5px;
  display: flex;
  gap: 10px;
}
.project-details .container .project-detail .tags .tag-box .tag {
  padding: 5px 10px;
  background-color: #F2EDDC;
}
.project-details .container .recent-projects {
  padding-left: 40px;
}
@media (max-width: 992px) {
  .project-details .container .recent-projects {
    padding: 0;
  }
}
.project-details .container .recent-projects .projects {
  display: grid;
  gap: 20px;
  padding-bottom: 30px;
}
.project-details .container .recent-projects .projects .projectSidebar {
  display: flex;
  gap: 20px;
}
.project-details .container .recent-projects .projects .projectSidebar img {
  max-width: 130px;
  width: 100%;
  object-fit: cover;
  max-height: 82px;
}
.project-details .container .recent-projects .projects .projectSidebar .text .note1 i {
  margin-right: 5px;
}

.background-form {
  position: relative;
}
.background-form .map img {
  width: 100%;
}
.background-form .container form {
  background-color: white;
  position: absolute;
  top: 25%;
  padding: 100px 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 992px) {
  .background-form .container form {
    padding: 40px 10px;
    position: relative;
  }
}
@media (max-width: 1800px) {
  .background-form .container form {
    top: 13%;
  }
}
@media (max-width: 1400px) {
  .background-form .container form {
    top: 3%;
    left: 2.5%;
  }
}
.background-form .container form .text {
  text-align: center;
  padding: 0px 100px;
}
@media (max-width: 992px) {
  .background-form .container form .text {
    padding: 0;
  }
}
.background-form .container form .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0px 100px;
}
@media (max-width: 992px) {
  .background-form .container form .inputs {
    padding: 0;
    grid-template-columns: 1fr;
  }
}
.background-form .container form button {
  align-self: center;
}
.background-form .parterns .container {
  padding: 80px 0px;
}
@media (max-width: 768px) {
  .background-form .parterns .container {
    padding: 40px 0px;
  }
}
.background-form .parterns .container .parterns-logo {
  width: 100%;
}

.project {
  position: relative;
  width: 100%;
  display: block;
}
.project:hover {
  cursor: pointer;
}
.project:hover .text {
  background-color: #4F5955;
  padding: 30px;
  transition: background-color 0.3s ease;
}
.project:hover .text p {
  color: #F2EDDC;
  transition: color 0.3s ease;
}
.project img {
  z-index: -1;
  width: 100%;
}
.project .text {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
  background-color: rgba(70, 62, 62, 0.363);
}
.project .text p {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.project .text span {
  font-size: 14px;
  color: white;
  font-weight: 300;
}
