<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ff03efb-862f-48c0-9fad-e8572387117b" Alias="Button Link - Button Color " Level="1">
  <Info>
    <Name>Button Link - Button Color </Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "4F5955",
      "label": "dark"
    },
    {
      "value": "F2EDDC",
      "label": "light"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>