<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b6e05b5-15a8-4803-b92d-b8e814a3fbdb" Alias="Image Slider - Slides " Level="1">
  <Info>
    <Name>Image Slider - Slides </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e5f3e409-d5e6-43ad-8513-e233dfb82857",
      "label": "slide item"
    }
  ]
}]]></Config>
</DataType>