<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d81bb975-fd38-49b6-a0b9-daf475556675" Alias="Modular Page - Layout " Level="1">
  <Info>
    <Name>Modular Page - Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "dddc681d-36d0-4980-b2ac-933f0d88ecc1",
      "name": "Containers"
    },
    {
      "key": "06c1323b-3ee7-45ad-a242-80ce1eac9387",
      "name": "Custom Sections"
    },
    {
      "key": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "96c0c027-ce5f-4fe2-b12a-8717da100655",
      "allowAtRoot": true,
      "label": "section = **{=sectionTitle}**",
      "areas": [
        {
          "key": "5822c0a7-0f28-44d0-acee-64e875f19d09",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "dddc681d-36d0-4980-b2ac-933f0d88ecc1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6e123f6f-3558-41da-8378-4cb3457bd230",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "allowInAreas": true,
      "areas": [
        {
          "key": "a30a0334-ac8c-4859-9063-8588f2d51252",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "dddc681d-36d0-4980-b2ac-933f0d88ecc1"
    },
    {
      "contentElementTypeKey": "e40ef629-beb5-4e4b-8b67-75a095464353",
      "allowAtRoot": false,
      "groupKey": "dddc681d-36d0-4980-b2ac-933f0d88ecc1",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "4678c66f-1118-40c5-83d6-7bbf081f1706",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": []
    },
    {
      "contentElementTypeKey": "3190a5fa-4439-4394-89c6-7732d2ef8433",
      "allowAtRoot": false,
      "groupKey": "dddc681d-36d0-4980-b2ac-933f0d88ecc1",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "d1713985-6fa9-48fe-acd9-2170152b83eb",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 11
        }
      ]
    },
    {
      "contentElementTypeKey": "49d10b45-32d6-451a-9c3b-33e236ad2291",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "label": "Heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4082b87f-6ea7-4b7d-a87f-5b91dd4eea15",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b7eca19e-d437-473e-a58d-0ce63a971369",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b65b56ec-f6e5-47a2-9a73-46f19854de0c",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a3ae1ce1-09a9-449a-b8d7-3782af7d1628",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6e2852d4-8295-487d-86ae-769820a7a0ea",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4b562c73-18b0-492e-98eb-8899b4cf6b9e",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e7801328-46fa-42e7-9f5e-93e613ff0f16",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "allowInAreas": true,
      "columnSpanOptions": []
    },
    {
      "contentElementTypeKey": "c87d7f84-2bfc-4c49-8e39-e37ef906fa1c",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9d8f5c96-c0b1-40a4-9f59-1bcab3e10900",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "304ee78a-692c-4b0d-893f-b4ce3b51cc0c",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "label": "Label",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "45c8df3e-eba3-421a-a568-9b9019538dba",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "label": "Note",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "934d6aa7-3daa-4987-aa8a-226bc77b9b22",
      "allowAtRoot": false,
      "groupKey": "1e5409ed-ea93-4b83-90c1-a44d5905645a",
      "label": "Quote",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ec315810-43a9-4dc4-a3a3-9bf8f15d293a",
      "allowAtRoot": true,
      "groupKey": "06c1323b-3ee7-45ad-a242-80ce1eac9387",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "05eeb132-cd65-4971-9b3e-9484152fa30e",
      "allowAtRoot": false,
      "groupKey": "06c1323b-3ee7-45ad-a242-80ce1eac9387",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d804b860-6526-4263-86ac-2eafebeb3c03",
      "allowAtRoot": true,
      "groupKey": "06c1323b-3ee7-45ad-a242-80ce1eac9387",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "c304829e-7314-4792-8958-73dfe573c156",
      "allowAtRoot": true,
      "groupKey": "06c1323b-3ee7-45ad-a242-80ce1eac9387",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "4cc1e346-e893-464c-9862-526e059c3853",
      "allowAtRoot": false,
      "groupKey": "06c1323b-3ee7-45ad-a242-80ce1eac9387",
      "label": "profile slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "40820cdc-dffd-42c9-9281-877c084a197a",
      "allowAtRoot": false,
      "groupKey": "06c1323b-3ee7-45ad-a242-80ce1eac9387",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>