<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed517c42-9577-44ea-88b5-3960d4d3ae41" Alias="Profile Slider -  Slides" Level="1">
  <Info>
    <Name>Profile Slider -  Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b3a42068-45d9-43f3-8c0c-814c251cd770",
      "label": "Slide Item"
    }
  ]
}]]></Config>
</DataType>