<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca90c950-0aff-4e72-b976-a30b1ac57dad" Alias="Richtext editor" Level="1">
  <Info>
    <Name>Richtext editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4082b87f-6ea7-4b7d-a87f-5b91dd4eea15"
    },
    {
      "contentElementTypeKey": "b7eca19e-d437-473e-a58d-0ce63a971369"
    },
    {
      "contentElementTypeKey": "b65b56ec-f6e5-47a2-9a73-46f19854de0c"
    },
    {
      "contentElementTypeKey": "a3ae1ce1-09a9-449a-b8d7-3782af7d1628"
    },
    {
      "contentElementTypeKey": "6e2852d4-8295-487d-86ae-769820a7a0ea"
    },
    {
      "contentElementTypeKey": "4b562c73-18b0-492e-98eb-8899b4cf6b9e"
    },
    {
      "contentElementTypeKey": "49d10b45-32d6-451a-9c3b-33e236ad2291"
    },
    {
      "contentElementTypeKey": "304ee78a-692c-4b0d-893f-b4ce3b51cc0c"
    },
    {
      "contentElementTypeKey": "45c8df3e-eba3-421a-a568-9b9019538dba"
    },
    {
      "contentElementTypeKey": "c87d7f84-2bfc-4c49-8e39-e37ef906fa1c",
      "settingsElementTypeKey": "c87d7f84-2bfc-4c49-8e39-e37ef906fa1c"
    },
    {
      "contentElementTypeKey": "934d6aa7-3daa-4987-aa8a-226bc77b9b22"
    }
  ],
  "maxImageSize": 0,
  "mode": "Classic",
  "toolbar": [
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "fontname",
    "fontsize",
    "forecolor",
    "backcolor",
    "blockquote",
    "formatblock",
    "removeformat",
    "bold",
    "italic",
    "underline",
    "strikethrough",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "table",
    "hr",
    "rtl",
    "ltr",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "umbblockpicker"
  ]
}]]></Config>
</DataType>