<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80224c44-761a-4041-a206-cb483a8ac1f2" Alias="Section - Section Background Color - Color Picker" Level="1">
  <Info>
    <Name>Section - Section Background Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "4F5955",
      "label": "Main"
    },
    {
      "value": "F2EDDC",
      "label": "Sub-Color-1"
    },
    {
      "value": "D9C3A9",
      "label": "Sub-Color-3"
    },
    {
      "value": "F7F7F7",
      "label": "Light-Grey"
    },
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "FFFFFF",
      "label": "Light"
    },
    {
      "value": "FFFFF1",
      "label": "None"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>