<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab169d00-71a2-4038-b97d-3155884705c9" Alias="Settings page - Social Media Platforms " Level="1">
  <Info>
    <Name>Settings page - Social Media Platforms </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1228b40c-e4e6-4d6e-a2bc-617e14141ae2",
      "label": "**{=platformName}** - {platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>