<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5b4a562-1460-45d5-9661-138bd1325f20" Alias="asdasd" Level="3">
  <Info>
    <Parent Key="33050580-8e4f-471e-91fd-5002f19f685a">Services</Parent>
    <Path>/Home/Services/asdasd</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-10T10:43:22</CreateDate>
    <NodeName Default="asdasd" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b25f7f96-e4ac-4b57-b1e7-8f67f2f8fba0">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <addInfoSection>
      <Value><![CDATA[]]></Value>
    </addInfoSection>
    <addSidebar>
      <Value><![CDATA[]]></Value>
    </addSidebar>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[asdasdsad]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[adasdasdasdsad]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "28d02c26-c200-42a4-9708-59392dd49551",
    "mediaKey": "7a1be81d-ff79-439b-9b83-0b899118588c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>