<?xml version="1.0" encoding="utf-8"?>
<Content Key="52a8fd50-a730-43cd-a0dc-06551e9dc6e7" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="33050580-8e4f-471e-91fd-5002f19f685a">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-09T13:53:47</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b25f7f96-e4ac-4b57-b1e7-8f67f2f8fba0">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <addInfoSection>
      <Value><![CDATA[]]></Value>
    </addInfoSection>
    <addSidebar>
      <Value><![CDATA[]]></Value>
    </addSidebar>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "dd3cfe2a-d9b1-4204-9df6-ae85c994a40d",
    "mediaKey": "7a1be81d-ff79-439b-9b83-0b899118588c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>