<?xml version="1.0" encoding="utf-8"?>
<Content Key="d16eebc8-b298-40e1-95bb-08cc77be2928" Alias="Budget Planning for Buccura In..." Level="3">
  <Info>
    <Parent Key="f85b267a-8604-4ae6-a89c-4bc958e0d991">Projects</Parent>
    <Path>/Home/Projects/BudgetPlanningForBuccuraIn</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-10T09:32:25</CreateDate>
    <NodeName Default="Budget Planning for Buccura In..." />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0d5f8336-83db-4d26-82ef-e67c69da3d22">projectItemTemplate</Template>
  </Info>
  <Properties>
    <addInfoSection>
      <Value><![CDATA[]]></Value>
    </addInfoSection>
    <addSidebar>
      <Value><![CDATA[]]></Value>
    </addSidebar>
    <category>
      <Value><![CDATA[Financial Services]]></Value>
    </category>
    <dateCreated>
      <Value><![CDATA[2024-01-03T00:00:00]]></Value>
    </dateCreated>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "6b2a103f-2704-4673-8ea9-ad6a19ae5ee7",
    "mediaKey": "626860fe-c82e-480a-a78a-f1621bfad881",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
    <thumbnailImageBig>
      <Value><![CDATA[[
  {
    "key": "9bfe6883-16dc-462b-84af-9d7ed7910782",
    "mediaKey": "787c8d14-4e43-4616-a903-bb66104a9066",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImageBig>
  </Properties>
</Content>