<?xml version="1.0" encoding="utf-8"?>
<Content Key="cac3bd76-d77c-4dcc-9f70-58364f3393d1" Alias="Business Insights for SP Group..." Level="3">
  <Info>
    <Parent Key="f85b267a-8604-4ae6-a89c-4bc958e0d991">Projects</Parent>
    <Path>/Home/Projects/BusinessInsightsForSPGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-10T09:31:34</CreateDate>
    <NodeName Default="Business Insights for SP Group..." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0d5f8336-83db-4d26-82ef-e67c69da3d22">projectItemTemplate</Template>
  </Info>
  <Properties>
    <addInfoSection>
      <Value><![CDATA[]]></Value>
    </addInfoSection>
    <addSidebar>
      <Value><![CDATA[]]></Value>
    </addSidebar>
    <category>
      <Value><![CDATA[Financial Services]]></Value>
    </category>
    <dateCreated>
      <Value><![CDATA[2024-05-17T00:00:00]]></Value>
    </dateCreated>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "dd03e73a-f528-45a0-b071-f25c63e64cc4",
    "mediaKey": "e8d9c986-9f97-46b6-9e7f-faa05946b23d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
    <thumbnailImageBig>
      <Value><![CDATA[[
  {
    "key": "149ef31e-e49a-4266-890c-2e1d8a49693d",
    "mediaKey": "2d5a3b10-ec94-4a15-9876-5384c0b419b9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImageBig>
  </Properties>
</Content>