<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bcab12f-8e52-48ab-88fe-d3c22b678b9a" Alias="Financial Advisors for Irra Grou..." Level="3">
  <Info>
    <Parent Key="f85b267a-8604-4ae6-a89c-4bc958e0d991">Projects</Parent>
    <Path>/Home/Projects/FinancialAdvisorsForIrraGrou</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-10T09:32:00</CreateDate>
    <NodeName Default="Financial Advisors for Irra Grou..." />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0d5f8336-83db-4d26-82ef-e67c69da3d22">projectItemTemplate</Template>
  </Info>
  <Properties>
    <addInfoSection>
      <Value><![CDATA[]]></Value>
    </addInfoSection>
    <addSidebar>
      <Value><![CDATA[]]></Value>
    </addSidebar>
    <category>
      <Value><![CDATA[Financial Services]]></Value>
    </category>
    <dateCreated>
      <Value><![CDATA[2024-02-06T00:00:00]]></Value>
    </dateCreated>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "7208e9bf-78a6-4f88-9dc4-ddad9814433d",
    "mediaKey": "beb55eb8-baf0-4a8c-a5c6-e6b431271ac9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
    <thumbnailImageBig>
      <Value><![CDATA[[
  {
    "key": "1d12bbdb-67e4-409a-8184-38a6bc3f68e5",
    "mediaKey": "f9ca7802-ab3b-478f-a027-801954f873a2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImageBig>
  </Properties>
</Content>