<?xml version="1.0" encoding="utf-8"?>
<Content Key="f85b267a-8604-4ae6-a89c-4bc958e0d991" Alias="Projects" Level="2">
  <Info>
    <Parent Key="96afaaf8-69b1-451a-80bd-ea8a86099d90">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-10T09:14:14</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2f4093a5-417b-452e-8a7d-7b520f8a71fb">projectListPage</Template>
  </Info>
  <Properties>
    <addInfoSection>
      <Value><![CDATA[1]]></Value>
    </addInfoSection>
    <addSidebar>
      <Value><![CDATA[1]]></Value>
    </addSidebar>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>