<?xml version="1.0" encoding="utf-8"?>
<Content Key="33050580-8e4f-471e-91fd-5002f19f685a" Alias="Services" Level="2">
  <Info>
    <Parent Key="96afaaf8-69b1-451a-80bd-ea8a86099d90">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-09T13:26:50</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7bcbe76c-108a-4ee0-8692-bf16df786913">serviceListPage</Template>
  </Info>
  <Properties>
    <addInfoSection>
      <Value><![CDATA[]]></Value>
    </addInfoSection>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>