<?xml version="1.0" encoding="utf-8"?>
<Content Key="7397908a-c72d-4574-9a20-19ef25717486" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-05T09:58:12</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundImage1>
      <Value><![CDATA[[
  {
    "key": "1b07d7e7-3e34-48fd-a3eb-979bdeb7eb32",
    "mediaKey": "5eabe0a7-de35-4d1f-b676-10bded7d3b85",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImage1>
    <backgroundImage2>
      <Value><![CDATA[[
  {
    "key": "cbbbfa4b-0b18-43cb-8f8b-5be854a0dee0",
    "mediaKey": "1cbfce8e-b926-429f-a391-e2d015b027f6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImage2>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <pageTitleBackground>
      <Value><![CDATA[[
  {
    "key": "661dbb63-707b-4dae-b3b0-c2b15276748b",
    "mediaKey": "801ffcac-24f7-4197-9faf-33d0be632df6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageTitleBackground>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "f989b2ef-609e-437f-bd32-29a03a463a5c",
    "mediaKey": "11d386f9-dc8a-48ce-a8fe-c5679975a802",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Inc]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1228b40c-e4e6-4d6e-a2bc-617e14141ae2",
      "udi": "umb://element/9dec4a6bfada475497a570287d9a5443",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://www.facebook.com"
    },
    {
      "contentTypeKey": "1228b40c-e4e6-4d6e-a2bc-617e14141ae2",
      "udi": "umb://element/70344178f0764ee5a35452721f8e60a7",
      "platformName": "[\u0022Instagram\u0022]",
      "platformAccountUrl": "https://www.instagram.com/"
    },
    {
      "contentTypeKey": "1228b40c-e4e6-4d6e-a2bc-617e14141ae2",
      "udi": "umb://element/64a1d93f36cc41efb92b1f50ae1aab12",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://www.linkedin.com/"
    },
    {
      "contentTypeKey": "1228b40c-e4e6-4d6e-a2bc-617e14141ae2",
      "udi": "umb://element/17798a8cb2e14ec485db2a556262f148",
      "platformName": "[\u0022TikTok\u0022]",
      "platformAccountUrl": "https://www.tiktok.com/"
    },
    {
      "contentTypeKey": "1228b40c-e4e6-4d6e-a2bc-617e14141ae2",
      "udi": "umb://element/991b9885a46d4592ad2f9c146fef3f60",
      "platformName": "[\u0022X (formerly Twitter)\u0022]",
      "platformAccountUrl": "https://x.com/"
    },
    {
      "contentTypeKey": "1228b40c-e4e6-4d6e-a2bc-617e14141ae2",
      "udi": "umb://element/27d9f828657c49c6b1abafc5c978c048",
      "platformName": "[\u0022YouTube\u0022]",
      "platformAccountUrl": "https://www.youtube.com/"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9dec4a6bfada475497a570287d9a5443",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/70344178f0764ee5a35452721f8e60a7",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/64a1d93f36cc41efb92b1f50ae1aab12",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/17798a8cb2e14ec485db2a556262f148",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/991b9885a46d4592ad2f9c146fef3f60",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/27d9f828657c49c6b1abafc5c978c048",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>