<?xml version="1.0" encoding="utf-8"?>
<Content Key="b263acfc-6513-4412-995d-f9af0927c9d9" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="33050580-8e4f-471e-91fd-5002f19f685a">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-09T13:54:45</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b25f7f96-e4ac-4b57-b1e7-8f67f2f8fba0">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <addInfoSection>
      <Value><![CDATA[]]></Value>
    </addInfoSection>
    <addSidebar>
      <Value><![CDATA[]]></Value>
    </addSidebar>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "ede82069-11de-4837-8199-ac807ae9652e",
    "mediaKey": "cd26d055-bc3a-4d6f-9b19-12cda81392b5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>